@charset "utf-8";
@import url(normalize.css);
@import url(xeicon.min.css);
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+KR:wght@400;900&display=swap');

@import url(btn.css);
/*@import url(btn2.css);*/
@import url(StyleNeonBtn.css);

@import url(neon.css);
@import url(wave.css);

body {

font-family: 'Noto Sans KR', sans-serif;
font-weight: 400;
background-color: antiquewhite;
}

.co-name {
	font-family: 'Monoton', cursive;
}

/*전체콘텐츠*/
html {
	font-size: 10px
}

body {
	font-size: 1.4rem;
}

.wrap {
	position: fixed;
	top : 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	min-width: 900px; 
	
	background-color: #000;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0 0 10px #555;
	
	overflow: hidden;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}

/*header*/
.h-con {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	background: #000;
/*	border: 2px solid #000;*/
	border-radius: 10px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	z-index: 1;
}
.h-con h1 {
	float: left;
margin-left: 20px;
}
.h-con .btn-header {
	float: right;
	margin-right: 20px;
	color: hotpink;
	font-size: 2rem;
}
.h-con .btn-header a {
	margin-left: 10px;
}
.h-con .btn-header a:hover {
	color: deeppink;
}
.h-con .gnb {
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 100%; /*gnb나 나왔을때 위치 410px*/
	right: -500px; /*gnb나 나왔을때 위치 3px*/
	line-height: 46px;
	border-radius: 10px;
	background: #eee;
	transition: all 0.3s;
}
.h-con .gnb.on {
  left: 410px; /*gnb나 나왔을때 위치 410px*/
	right: 3px; /*gnb나 나왔을때 위치 3px*/
}
.h-con .gnb-menu {
	float: left;
	width: 90%;
	text-align: center;
}
.h-con .gnb-menu a {
	margin: 0 5%;
	transition: all 0.3s;
}
.h-con .gnb-menu a:hover {
	color: #fff;
	text-shadow: 0 0 2px deeppink;
}
.h-con .btn-close {
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

/*main*/
.m-con {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.m-con > div {
	display: flex;
	flex: 1;
	height: 100%;
	box-shadow: inset -1px -1px 5px #222,
		inset 1px 1px 5px #fff;
	transition: all 0.3s;
	align-items: center;
	justify-content: center;
}

.m-con .box-1 {
/*	background-color: #f53d52;*/
	background-color: #d7255d;
}
.m-con .box-2 {
/*	background-color: #fce315;*/
	background-color: #f7e50a;
}
.m-con .box-3 {
/*	background-color: #44c5cb;*/
	background-color: #3efaff;
}
.m-con .box-4 {
/*	background-color: #ff9200;*/
	background-color: #6100f8;
}
/*
.m-con > div > a {
	transition: all 0.3s;
}
*/
/*
.m-con:hover > button {
	transform: scale(0.9);
}
*/
.m-con .box-1:hover {flex: 2;}
.m-con .box-2:hover {flex: 2;}
.m-con .box-3:hover {flex: 2;}
.m-con .box-4:hover {flex: 2;}

.m-con > div > a {
	width: 100%;
	text-align: center;
}
.m-con [class ^= 'cam'] {
	height : 400px;
	width: 90%;
	margin: 20px auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.m-con .cam-1 {
	background-image: url(../img/img1_canon0.png);
}
.m-con .cam-2 {
	background-image: url(../img/img2_nikon0.png);
}
.m-con .cam-3 {
	background-image: url(../img/img3_sony0.png);
}
.m-con .cam-4 {
	background-image: url(../img/img4_pana0.png);
}
.m-con [class ^= 'box'].on {
	display: none;
}
.m-con h2 {
	font-size: 3rem;
	font-weight: 900;
	color: #fff;
	opacity: 0.9;
}
.m-con button {
	width: 180px;
	font-size: 1.2rem;
}


/*test*/
/*
.m-con [class ^= 'box'] {
	display: none
}
.m-con {
	background-color: #0af;
}
.item-2, .item-3, .item-4 {
	display: none;
}
.d-con {
display: block;
}
*/

/*상세페이지 d-con*/
.d-con {
	position: absolute;
	top: 70px;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}
.d-con.on {display: block;}
.d-con .in-top {
	width : 960px;
	margin: auto;
	padding: 0 20px;
}
.d-con .top-img {
	width: 45%;
	margin-right: 5%;
	float: left;
}
.d-con .top-img img {
	width: 100%;
	display: none;
}

.d-con .top-img img.on {
	display: block;
} 
.d-con .top-buy {
	width: 45%;
	margin-left: 5%;
	margin-top: 50px;
	float: right;
}
.d-con .top-buy h3 {
	margin-bottom: 20px;
	display: none;
}
.d-con .top-buy h3.on {
	display: block;
}
.d-con .top-buy li {
	line-height: 6rem;
}

#qty-box {
	text-align: center;
	border-radius: 5px;
}

.d-con .a_demo_three {
	padding: 5px 50px
}
.d-con .second_button {
	padding: 5px 58px;
}
.d-con .in-bottom {
	background-color: #fff;
	width: 100%;
	height: 2370px;
}

.d-con [class ^= 'item'] {
	width : 960px;
	margin: auto;
	padding: 0 20px;
	display: none;
}

.d-con [class ^= 'item'].on {
	display: block;
}

.d-con .in-bottom li {width: 50%; height: 450px; line-height: 3rem; margin-top: 20px; text-align: justify;}

.d-con .in-bottom li:nth-child(1) {float: left;}
.d-con .in-bottom li:nth-child(2) {float: right;}
.d-con .in-bottom li:nth-child(3) {float: right;}
.d-con .in-bottom li:nth-child(4) {float: left;}
.d-con .in-bottom li:nth-child(5) {float: left;}
.d-con .in-bottom li:nth-child(6) {float: right;}
.d-con .in-bottom li:nth-child(7) {float: right;}
.d-con .in-bottom li:nth-child(8) {float: left;}
.d-con .in-bottom li:nth-child(9) {float: left;}
.d-con .in-bottom li:nth-child(10) {float: right;}
.d-con .in-bottom li:nth-child(odd) {padding-top: 200px;}
.d-con .in-bottom li img {width: 100%;}



/*footer*/
.f-con {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: #000;
	border-radius: 10px;
	height: 30px;
	line-height: 30px;
	
	color: #fff;
	font-size: 1.1rem;
	
	z-index: 1;
}

.f-con .fnb a {
	float: left;
	margin-left: 20px;
}
.f-con a:hover {
	color: deeppink;
}

.f-con .f-con-right {
	float: right;
}
.f-con .sns {
	float: left;
}
.f-con .sns a {
	margin-right: 20px;
}

.f-con address {
	float: left;
	margin-right: 20px;
}

.d-con img {
	cursor: url(../img/ico_resize.png) 30 30, auto;
}

/*여기부터 jun_modal_popup 스타일*/
/* jun_modal_popup Code by tadjun@naver.com */
.modal-popup {
	display: none;
}
.modal-popup.on {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}
.modal-popup .img-popup {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 960px;
	max-height: 80%;
	align-items: center;
	justify-content: center;
}
.modal-popup .img-popup img.w {
	width: 100%;
}
.modal-popup .img-popup img.h {
	height: 100%;
}
.modal-popup .close-popup {
	position: absolute;
	top: 20px;
	right: 20px;
	border: 2px solid #fff;
	cursor: pointer;
}
.modal-popup .close-border-popup {
    width: 0;
    height: 0;
    border-top: 10px solid #555;
    border-right: 10px solid #444;
    border-bottom: 10px solid #222;
    border-left: 10px solid #333;
}
/*여기까지 jun_modal_popup 스타일*/
